@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.button {
	color: $black-color;
	background-color: $neon-yellow;
	font-size: 1.2rem;
	font-weight: 800;
	letter-spacing: 0.03em;
	height: fit-content;
	border-radius: 65px;
	padding: 1.4rem 6rem;
	cursor: pointer;
	white-space: nowrap;
	@include preventSelect;
}
