@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.header {
	display: flex;
	justify-content: space-between;
}

.subheader1 {
	display: flex;
	justify-content: flex-start;
}

.subheader2 {
	display: flex;
	justify-content: flex-end;
}

.tableContainer {
	margin: 1rem 0rem;
}

.mediaIcon {
	height: 48px;
	width: 48px;
	border-radius: 8px;
	object-fit: cover;
}

.mediaIconPreview {
	height: calc(48px * 6);
	width: calc(48px * 6);
	border-radius: 8px;
	object-fit: cover;
}

.mediaIconLandscape {
	height: 25.131px;
	width: 48px;
	border-radius: 8px;
	object-fit: cover;
}

.mediaIconLandscapePreview {
	height: calc(25.131px * 6);
	width: calc(48px * 6);
	border-radius: 8px;
	object-fit: cover;
}

.mediaIconPortrait {
	height: 48px;
	width: 38.4px;
	border-radius: 8px;
	object-fit: cover;
}

.mediaIconPortraitPreview {
	height: calc(48px * 6);
	width: calc(38.4px * 6);
	border-radius: 8px;
	object-fit: cover;
}

.mediaWrapper {
	display: flex;
	align-items: center;
	margin-left: 0.5rem;
	margin-bottom: 1.5rem;
}

.mediaWrapperLandscape {
	margin-top: 1.25rem;
	display: flex;
	align-items: center;
	margin-left: 0.5rem;
	margin-bottom: 2.5rem;
}

.fileName {
	margin-left: 1rem;
	font-size: 1.2rem;
}

.row {
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
}

.editIcon {
	width: 2.5rem;
	height: auto;
	cursor: pointer;
}

.sortIcon {
	position: absolute;
	left: -4px;
	bottom: -2px;
	height: 2rem !important;
	width: 2rem !important;
}

.sortIconSelected {
	position: absolute;
	left: -4px;
	bottom: -2px;
	height: 2rem !important;
	width: 2rem !important;
	color: $neon-yellow;
}

.playIcon {
	position: absolute;
	left: 18px;
	top: 20px;
	height: 2.5rem !important;
	width: auto !important;
	color: $neon-yellow;
}

.playIconPortrait {
	position: absolute;
	left: 12px;
	top: 20px;
	height: 2.5rem !important;
	width: auto !important;
	color: $neon-yellow;
}

.toolTip {
	background-color: $black-color !important;
	font-family: Poppins !important;
	font-size: 12px !important;
	line-height: 16px !important;
	border-radius: 8px !important;
	max-width: none !important;
}

.toolTipPreview {
	background-color: transparent !important;
	border-radius: 8px !important;
	max-width: none !important;
}

.toolTipArrow {
	color: $black-color !important;
}

.paginationRow {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	nav {
		width: fit-content;
	}
	.gotoText {
		font-size: 12px;
		font-weight: 700;
		margin: 0px 10px;
	}
	.gotoInput {
		background: #000000;
		color: white;
		border-radius: 8px;
		padding: 6px;
		width: 50px;
		&:focus {
			outline: none;
		}
	}
}

.searchField {
	width: 271px;
}

.textFieldInput {
	color: white !important;
	border: 1px solid #404040;
	padding: 0.5rem 0.5rem 0.5rem 1.5rem !important;
	font-size: 1.4rem !important;
	line-height: 1.6 !important;
	border-radius: 40px;
	//margin-bottom: 1rem;
	background-color: #000000;
}

.searchIcon {
	margin-right: 8;
}
