@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.dropZoneContainer {
	//border: 1px solid $neon-yellow;
	border-top: 1.5px dashed $neon-yellow;
	border-right: 1.5px dashed $neon-yellow;
	border-bottom: 1.5px dashed $neon-yellow;
	border-left: 1.5px dashed $neon-yellow;
	//border-style: dashed;
	//padding: 1rem 2.5rem 0.5rem 2.5rem;
	cursor: pointer;
	border-radius: 1rem;
	//margin-bottom: 1rem;
	//margin-top: 1rem;
}

.borderRed {
	border-color: #ff355a !important;
}

.uploadMediaError {
	color: #ff355a;
	font-weight: bold;
	margin-top: 1rem;
	height: 1rem;
}

.mediaError {
	color: #ff355a;
	font-weight: bold;
	height: 1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
}

.characterCount {
	margin-right: 0.5rem;
	display: flex;
	justify-content: space-between;
}

.fileRejectionError {
	color: #ff355a;
	font-weight: bold;
	height: 1rem;
	text-align: center;
	margin-bottom: 1.5rem;
}

.dragMsg {
	font-size: 1.4rem;
	line-height: 2.4rem;
	font-weight: 400;
	@include preventSelect;
}

.formatMsg {
	font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: 400;
	color: $light-grey;
	@include preventSelect;
}

.addFilesIcon {
	height: 2rem !important;
	width: 2rem !important;
	margin-bottom: 1.5rem;
	color: $neon-yellow;
}

.dropzone {
	text-align: center;
	padding: 1.5rem 2.5rem 2rem 1.5rem;
}

.textField {
	width: 100%;
}

.textFieldInput {
	@include textFieldInput;
}

.captionContainer {
	h6 {
		margin-bottom: 0.5rem;
		margin-left: 1rem;
	}
}

.postMediaHeader {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.postMediaContainer,
.mediaContainer {
	margin-top: 2.5rem;
}

.mediaContainer {
	h6 {
		margin-bottom: 0.5rem;
		margin-left: 1rem;
	}
}

.select {
	input {
		// padding: 1rem !important;
	}
	.MuiSelect-select {
		padding: 1rem 0rem 1rem 1rem;
		padding-right: 32px;
	}
	width: 100%;
	color: white !important;
	border: 1px solid #404040;
	font-size: 1.4rem !important;
	line-height: 1.6 !important;
	border-radius: 5rem !important;
	margin-bottom: 1rem !important;
	background-color: #000000 !important;

	div[role='button'] {
		padding: 1rem 0rem 1rem 2rem;
	}

	svg {
		color: $neon-yellow;
		right: 1rem;
		top: 0;
		font-size: 4rem;
	}
}

.disableAutoComplete {
	background-color: #404040 !important;
}

.autoComplete {
	padding: 8px;
	padding-left: 16px;
	color: white !important;
	border: 1px solid #404040;
	font-size: 1.4rem !important;
	line-height: 1.6 !important;
	border-radius: 5rem !important;
	margin-bottom: 1rem !important;
	.MuiInput-input {
		padding: 1rem 0rem 1rem 1rem;
		color: #ffffff !important;
	}

	.textFieldAuto {
		width: 100%;
		color: #ffffff !important;
		input {
			color: #ffffff !important;
			font-size: 14px;
		}
	}

	svg {
		color: $neon-yellow;
		right: 5rem !important;
		top: 0rem !important;
		font-size: 3rem;
	}
	overflow-y: auto;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

.autoComplete::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.textFieldInput2 {
	// color: white !important;
	// padding: 0.5rem 0rem 0.5rem 1rem;
	// margin-bottom: 0.5rem;
	// font-size: 1.4rem !important;
	// line-height: 1.6;
	// background-color: #ff355a;
	color: white !important;
	border: 0.01px solid #404040;
	padding: 1rem 1rem 1rem 1.5rem !important;
	font-size: 1.4rem !important;
	line-height: 1.6 !important;
	border-radius: 40px;
	margin-bottom: 1rem;
	background-color: #000000;

	svg {
		color: $neon-yellow;
		right: 5rem !important;
		top: 0 !important;
		font-size: 3rem !important;
	}
}

.tagYellow {
	background-color: $neon-yellow !important;
	font-family: Poppins !important;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 12px !important;
	line-height: 24px !important;
	padding: 4px 6px !important;
	margin-right: 3px !important;
	margin-left: 3px !important;
	margin-top: 2px !important;
	margin-bottom: 2px !important;
	svg {
		color: black !important;
		font-size: 20px !important;
	}
}

.buttonDiv {
	width: 100%;
	margin-bottom: 4rem;
}

.postBtn {
	width: 100%;
}

.postBtnEdit {
	width: 70%;
	display: inline-block;
}

.editBtn {
	width: 30%;
	display: inline-block;
}

.previewContentWrapper {
	min-height: calc(100vh - 107px);
	position: relative;
	display: flex;
	width: 1000px;
}

.contentWrapper {
	min-height: calc(100vh - 107px);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contentWrapperNoPreview {
	min-height: calc(100vh - 107px);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.uploadedFilesContainer {
	margin-top: 4rem;
	max-height: 220px;
	overflow-y: auto;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

.uploadedFilesContainer::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.filePreview {
	padding: 1.5rem 2rem;
	box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.25);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	&:last-child {
		box-shadow: none;
	}
}

.filePreviewLeft {
	display: flex;
	align-items: center;
}

.fileThumbnail {
	height: 8rem;
	//width: 8rem;
	//max-height: 50%;
	max-width: 50%;
	border-radius: 4px;
	background-color: white;
}

.fileName {
	font-size: 1rem;
	margin-left: 2rem;
}

.filePreviewIcons {
	color: $neon-yellow;
	font-size: 2.5rem !important;
	margin-left: 2rem;
	cursor: pointer;
}

.playIcon {
	position: absolute;
	left: 48px;
	height: 2.5rem !important;
	width: auto !important;
	color: $neon-yellow;
}

.playIconPortrait {
	position: absolute;
	left: 38px;
	height: 2.5rem !important;
	width: auto !important;
	color: $neon-yellow;
}

.loaderContainer {
	position: absolute;
	width: calc(100% - 20px);
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.loaderContainer2 {
	position: absolute;
	width: 100%;
	height: 100%;
	//height: 100vh;
	//min-height: calc(100vh - 200px);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.87);
	z-index: 100;
}

.loader {
	color: $neon-yellow !important;
}

.orientation {
	margin-right: 2rem;
}

.headerOrientationWrapper {
	//position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.orientationDimensionWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dimensionWrapper {
	border-radius: 8px;
	background-color: #404040;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2px;
}

.dimensionSingle {
	//margin-left: 1rem;
	border-radius: 8px;
	padding: 1rem 1rem 0.8rem 1rem;
}

.dimensionPreviewIcons {
	color: #808080;
	cursor: pointer;
}

.previewComponent {
	width: 35%;
	border-left: 1px solid $grey;
	margin-left: 3rem;
	padding-left: 3rem;
	margin-bottom: 10rem;
}

.closeIcon {
	width: 3.2rem !important;
	height: 3.2rem !important;
	margin-right: 0.8rem;
	cursor: pointer !important;
}

.previewHeader {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

// .previewFile {
// 	height: 8rem;
// 	width: 8rem;
// }

video::-webkit-media-controls-fullscreen-button {
	display: none;
}
.liAutocomplete {
	background-color: black;
	color: white;
	font-size: 14px;
	padding: 8px 8px 8px 12px;
	&:hover {
		color: $neon-yellow;
		cursor: pointer;
	}
}

.popperAuto {
	border: 1px solid #404040;
	box-shadow: 0px 16px 40px rgba(255, 255, 255, 0.16);
	border-radius: 8px;
	background: black;
}

.liAutocompleteWithButton {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-size: 14px;
	padding: 8px 8px 8px 12px;
}

.editor {
	margin: 10px 0px;
	// editor
	// > div {
	// 	//tox tox-tinymce tox-platform-touch
	// 	border: 1px solid #404040 !important;
	// 	border-radius: 8px;
	// 	//top bars and middle box
	// 	> div {
	// 		//tox-editor-container
	// 		background-color: black !important;
	// 		// top bars
	// 		> div {
	// 			//tox-editor-header
	// 			> div {
	// 				//tox-menubar
	// 				background-color: black !important;
	// 				> button {
	// 					color: white !important;
	// 				}
	// 				> button:focus {
	// 					background: #404040 !important;
	// 				}
	// 				> button:hover {
	// 					background: #404040 !important;
	// 				}
	// 				> button:active {
	// 					background: #404040 !important;
	// 				}
	// 			}
	// 			> div {
	// 				//tox-toolbar tox-toolbar--scrolling

	// 				> div {
	// 					//tox-toolbar__group
	// 					border-top: 1px solid #404040 !important;
	// 					background-color: black !important;
	// 					// border-right: none !important;

	// 					> button {
	// 						// border-right: 1px solid white !important;
	// 						> span {
	// 							color: white !important;
	// 							> svg {
	// 								fill: white !important;
	// 							}
	// 						}
	// 					}
	// 					> button:focus {
	// 						background: #404040 !important;
	// 					}
	// 					> button:hover {
	// 						background: #404040 !important;
	// 					}
	// 					> button:active {
	// 						background: #404040 !important;
	// 					}
	// 				}
	// 			}
	// 		}
	// 		//middle text area
	// 		> div {
	// 			//tox-sidebar-wrap
	// 			> div {
	// 				> iframe {
	// 					background-color: black !important;
	// 					// color: white !important ;
	// 					// #document {
	// 					// 	color: white !important;
	// 					// }
	// 					// > html {
	// 					// 	color: white !important;
	// 					// }
	// 					// .mce-content-body {
	// 					// 	color: white !important;
	// 					// }
	// 				}
	// 			}
	// 		}
	// 	}
	// 	//bottom bar
	// 	> div {
	// 		//tox-statusbar
	// 		> div {
	// 			> div {
	// 				> div {
	// 					color: white !important;
	// 				}
	// 			}
	// 			> button {
	// 				color: white !important;
	// 			}
	// 		}
	// 	}
	// }
}

// .tox-editor-container {
// 	background: red !important;
// }
// .tox-menubar {
// 	background-color: black !important;
// }
