@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');
@import './_variables.scss';
@import './_mixins.scss';

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $black-color;
	color: $white-color;
}

h1 {
	font-size: 2.5rem;
	@include preventSelect;
}

h5 {
	font-size: 1.6rem;
	font-weight: bold;
	color: $white-color;
	@include preventSelect;
}

h6 {
	font-size: 1.2rem;
	font-weight: bold;
	color: $white-color;
	@include preventSelect;
}
