@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');
@import './variables.scss';
@import './mixins.scss';

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $black-color;
	color: $white-color;
}

h1 {
	font-size: 2.5rem;
	@include preventSelect;
}
