@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.contentWrapper {
	min-height: calc(100vh - 107px);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.closeIcon {
	width: 3.2rem !important;
	height: 3.2rem !important;
	margin-right: 0.8rem;
	cursor: pointer !important;
}

.buttonDiv {
	width: 100%;
	margin-bottom: 4rem;
}

.addMediaBtn {
	width: 100%;
	margin-top: 0.5rem;
}

.addMediaBtnEdit {
	width: 70%;
	margin-top: 0.5rem;
	display: inline-block;
}

.editBtn {
	width: 30%;
	display: inline-block;
	margin-top: 0.5rem;
}

.categoryContainer {
	margin-top: 2.5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.categoryContainer {
	h6 {
		margin-bottom: 0.5rem;
		margin-left: 1rem;
	}
}

.mainCategory {
	width: 48%;
	display: inline-block;
}

.subCategory {
	width: 48%;
	display: inline-block;
}

.select {
	.MuiSelect-select {
		padding: 1rem 0rem 1rem 1rem;
		padding-right: 32px;
	}
	width: 100%;
	color: white !important;
	border: 1px solid #ffffff;
	font-size: 1.4rem !important;
	line-height: 1.6 !important;
	border-radius: 5rem !important;
	margin-bottom: 1rem !important;
	background-color: #000000;

	div[role='button'] {
		padding: 0.5rem 0rem 0.5rem 2rem;
	}

	svg {
		color: $neon-yellow;
		right: 1rem;
		top: 0;
		font-size: 3rem;
	}
}

.autoComplete {
	width: 100%;
	color: white !important;
	border: 1px solid #ffffff;
	font-size: 1.4rem !important;
	line-height: 1.6 !important;
	border-radius: 5rem !important;
	margin-bottom: 1rem !important;
	background-color: #ff355a !important;
	.MuiInput-input {
		padding: 1rem 0rem 1rem 1rem;
		padding-right: 32px !important;
	}

	svg {
		color: $neon-yellow;
		right: 1rem;
		top: 0;
		font-size: 3rem;
	}
}

.uploadedFilesContainer {
	margin-top: 1.5rem;
	max-height: 220px;
}

.filePreview {
	padding: 1.5rem 2rem;
	box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.25);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	// &:last-child {
	// 	box-shadow: none;
	// }
}

.filePreviewLeft {
	display: flex;
	align-items: center;
}

.fileThumbnail {
	height: 8rem;
	width: 8rem;
	border-radius: 4px;
	background: #404040;
}

.fileName {
	font-size: 1rem;
	margin-left: 2rem;
}

.filePreviewIcons {
	color: $neon-yellow;
	font-size: 2.5rem !important;
	margin-left: 2rem;
	cursor: pointer;
}

.playIcon {
	position: absolute;
	left: 48px;
	height: 2.5rem !important;
	width: auto !important;
	color: $neon-yellow;
}

.dropZoneContainer {
	//border: 1px solid $neon-yellow;
	border-top: 1.5px dashed $neon-yellow;
	border-right: 1.5px dashed $neon-yellow;
	border-bottom: 1.5px dashed $neon-yellow;
	border-left: 1.5px dashed $neon-yellow;
	//border-style: dashed;
	cursor: pointer;
	border-radius: 1rem;
	//margin-bottom: 1rem;
	//margin-top: 1rem;
}

// .dropZoneContainer {
// 	background-image: linear-gradient(
// 		to right,
// 		$neon-yellow 13%,
// 		rgba(255, 255, 255, 0) 0%
// 	);
// 	background-position: top;
// 	background-size: 3px 1px;
// 	background-repeat: repeat-x;
// }

.droppa {
	//background: yellow;
	background: linear-gradient(
			to right,
			$neon-yellow 65%,
			rgba(255, 255, 255, 0) 0%
		),
		linear-gradient($neon-yellow 65%, rgba(255, 255, 255, 0) 0%),
		linear-gradient(to right, $neon-yellow 65%, rgba(255, 255, 255, 0) 0%),
		linear-gradient($neon-yellow 65%, rgba(255, 255, 255, 0) 0%);
	background-position: top, right, bottom, left;
	background-repeat: repeat-x, repeat-y;
	background-size: 6px 2px, 2px 6px;
	padding: 1rem 2.5rem 0.5rem 2.5rem;
	cursor: pointer;
	border-radius: 0.7rem;
}

.dropzone {
	text-align: center;
	padding: 1rem 2.5rem 0.5rem 2.5rem;
}

.addFilesIcon {
	height: 2rem !important;
	width: 2rem !important;
	margin-bottom: 1.5rem;
	color: $neon-yellow;
}

.dragMsg {
	font-size: 1.4rem;
	line-height: 2.4rem;
	font-weight: 400;
	@include preventSelect;
}

.formatMsg {
	font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: 400;
	color: $light-grey;
	@include preventSelect;
}

.uploadMediaError {
	color: #ff355a;
	font-weight: bold;
	margin-top: 1rem;
	height: 1rem;
}

.mediaError {
	color: #ff355a;
	font-weight: bold;
	height: 1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
}

.fileRejectionError {
	color: #ff355a;
	font-weight: bold;
	height: 1rem;
	text-align: center;
	margin-bottom: 1.5rem;
}

.titleContainer {
	h6 {
		margin-bottom: 0.5rem;
		margin-left: 1rem;
	}
}

.textField {
	width: 100%;
}

.textFieldInput {
	@include textFieldInput;
}

.previewContentWrapper {
	min-height: calc(100vh - 107px);
	position: relative;
	display: flex;
	width: 1000px;
}

.contentWrapperNoPreview {
	min-height: calc(100vh - 107px);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.previewComponent {
	width: 35%;
	border-left: 1px solid $grey;
	margin-left: 3rem;
	padding-left: 3rem;
	margin-bottom: 10rem;
}

.previewHeader {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.previewFile {
	height: 8rem;
	width: 8rem;
}

.isEditSelect {
	opacity: 0.7;
}
