@import '../../styles/variables.scss';

.header {
	display: flex;
	justify-content: flex-start;
}

.tableContainer {
	margin: 1rem 0rem;
}

.mediaIcon {
	height: 5rem;
	width: 5rem;
	border-radius: 8px;
}

.mediaWrapper {
	display: flex;
	align-items: center;
	margin-bottom: 1.5rem;
}

.fileName {
	margin-left: 1rem;
	font-size: 1.2rem;
}

.row {
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
}

.rowType {
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
	padding-left: 35px;
}

.editIcon {
	width: 2.5rem;
	height: auto;
	cursor: pointer;
}

.sortIcon {
	position: absolute;
	left: -4px;
	bottom: -2px;
	height: 2rem !important;
	width: 2rem !important;
}

.sortIconSelected {
	position: absolute;
	left: -4px;
	bottom: -2px;
	height: 2rem !important;
	width: 2rem !important;
	color: $neon-yellow;
}

.toolTip {
	background-color: $black-color !important;
	font-family: Poppins !important;
	font-size: 12px !important;
	line-height: 16px !important;
	border-radius: 8px !important;
	max-width: none !important;
}

.toolTipArrow {
	color: $black-color !important;
}
