@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.header {
	display: flex;
	justify-content: space-between;
} //

.subheader1 {
	display: flex;
	justify-content: flex-start;
} //

.subheader2 {
	display: flex;
	justify-content: flex-end;
} //

.calendarWrapper {
	margin-left: 10px;
	button {
		background-color: transparent !important;
		top: 0.5px !important;
		right: 30px !important;
	}
} //

.customDateInput {
	border: 0;
	margin: 0;
	display: inline-flex;
	//padding: 0;
	position: relative;
	min-width: 0;
	flex-direction: column;
	vertical-align: top;
	width: 250px;
	color: white !important;
	border: 1px solid #404040;
	padding: 1.2rem 1rem 1rem 1rem !important;
	font-size: 1.4rem !important;
	line-height: 1.6 !important;
	border-radius: 40px;
	background-color: #000000;
	border-color: rgb(64, 64, 64);
	height: 17.5px;
	box-sizing: content-box;
	//padding: 6px 0 7px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
} //

.tableContainer {
	margin: 1rem 0rem;
} //

.mediaIconPreview {
	height: calc(5rem * 5);
	//width: calc(5rem * 6);
	max-width: calc(5rem * 8);
	border-radius: 8px;
	object-fit: cover;
} //

.mediaIcon {
	height: 48px;
	width: 48px;
	border-radius: 8px;
	object-fit: cover;
} // change

// .mediaIconPreview {
// 	height: calc(48px * 6);
// 	width: calc(48px * 6);
// 	border-radius: 8px;
// 	object-fit: cover;
// }

.mediaIconLandscape {
	height: 25.131px;
	width: 48px;
	border-radius: 8px;
	object-fit: cover;
} //

.virallandscapePreview {
	height: calc(25.131px * 6);
	width: calc(48px * 6);
	border-radius: 8px;
	object-fit: cover;
} //

.mediaIconPortrait {
	height: 48px;
	width: 38.4px;
	border-radius: 8px;
	object-fit: cover;
} //

.mediaIconPortraitPreview {
	height: calc(48px * 6);
	width: calc(38.4px * 6);
	border-radius: 8px;
	object-fit: cover;
} //

.mediaWrapper {
	display: flex;
	align-items: center;
	margin-bottom: 1.5rem;
	div {
		max-width: 100%;
		text-overflow: ellipsis;
		overflow: hidden;
		span {
			white-space: nowrap;
		}
	}
} // change as games

.fileName {
	margin-left: 1rem;
	font-size: 1.2rem;
} // change

.row {
	margin-bottom: 1.5rem;
	display: block;
	font-size: 1.2rem;
} //change

.rowType {
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
	padding-left: 35px;
	display: block;
	//padding-right: 5px;
	// max-width: 100%;
	// text-overflow: ellipsis;
	// overflow: hidden;
	// white-space: nowrap;
	// span {
	// 	white-space: nowrap;
	// }
}

.editIcon {
	width: 2.5rem;
	height: auto;
	cursor: pointer;
}

.sortIcon {
	position: absolute;
	left: -4px;
	bottom: -2px;
	height: 2rem !important;
	width: 2rem !important;
}

.sortIconSelected {
	position: absolute;
	left: -4px;
	bottom: -2px;
	height: 2rem !important;
	width: 2rem !important;
	color: $neon-yellow;
}

.toolTip {
	background-color: $black-color !important;
	font-family: Poppins !important;
	font-size: 12px !important;
	line-height: 16px !important;
	border-radius: 8px !important;
	max-width: none !important;
}

.toolTipArrow {
	color: $black-color !important;
}

.paginationRow {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1vw 2vw;
	nav {
		width: fit-content;
	}
	.gotoText {
		font-size: 12px;
		font-weight: 700;
		margin: 0px 10px;
	}
	.gotoInput {
		background: #000000;
		color: white;
		border-radius: 8px;
		padding: 6px;
		width: 50px;
		&:focus {
			outline: none;
		}
	}
}

.toolTipPreview {
	background-color: transparent !important;
	border-radius: 8px !important;
	max-width: none !important;
}

.searchField {
	width: 271px;
}

.textFieldInput {
	color: white !important;
	border: 1px solid #404040;
	padding: 0.55rem 0.5rem 0.5rem 1.5rem !important;
	font-size: 1.4rem !important;
	line-height: 1.6 !important;
	border-radius: 40px;
	font-family: Poppins !important;
	//margin-bottom: 1rem;
	background-color: #000000;
}

.searchIcon {
	margin-right: 8;
	cursor: pointer;
}

.noResultError {
	color: #ff355a;
	font-weight: bold;
	margin-top: 0.2rem;
	margin-left: 0.5rem;
	height: 1rem;
}
.loader {
	width: 20%;
	height: auto;
}

.publish_draft_btn {
	padding-left: 20px;
	margin-bottom: 1.6rem;
	// font-size: 1.2rem;
	// width: 90px;
	// height: 24px;
}
