.table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px 25px;
	tr,
	th {
		position: relative;
	}

	thead {
		display: table;
		width: 98.7%;
		table-layout: fixed;
		.sortable {
			padding-left: 2rem;
		}
	}

	tbody {
		display: block;
		max-height: calc(100vh - 220px);
		overflow-y: auto;
		overflow-x: hidden;
		tr {
			display: table;
			width: 100%;
			table-layout: fixed;
			td {
				border-bottom: 1px solid #404040;
			}
		}
	}
	// '& tr th.sortable': {
	//   paddingLeft: '35px',
	//   fontSize: 10,
	//   ...BIO_SANS_BOLD,
	// },

	// '& .sortingIcons.material-icons': {
	//   color: PRIMARY_COLOR,
	//   lineHeight: '14px',
	//   height: 14,
	// },
	// '& .sortingIcons': {
	//   position: 'absolute',
	//   left: 5,
	// },
	// '& thead tr': {
	//   backgroundColor: 'transparent',
	// },
	// '& tr td:first-child, & tr th:first-child': {
	//   borderRight: 'hidden',
	//   borderTopLeftRadius: 12,
	//   borderBottomLeftRadius: 12,
	// },
	// '& tr td:last-child, & tr th:last-child': {
	//   borderTopRightRadius: 12,
	//   borderBottomRightRadius: 12,
	// },
	// '& thead th, & td': {
	//   borderWidth: 0,
	// },
	// '& td': {
	//   fontSize: '0.78rem',
	//   color: 'white',
	//   verticalAlign: 'middle',
	//   ...BIO_SANS_REGULAR,
	// },
}

.table-header {
	th:first-of-type {
		// width: 40rem;
	}
	th {
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 0.03rem;
		text-align: initial;
		text-transform: uppercase;
	}
}
