@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';
.textFieldInput {
	@include textFieldInput;
}

.popperAuto {
	border: 1px solid #404040;
	box-shadow: 0px 16px 40px rgba(255, 255, 255, 0.16);
	border-radius: 8px;
	background: black;
}
.Banner {
	width: 96%;
	max-height: calc(100vh - 200px);
	overflow-y: auto;
	padding-right: 2%;
	.bannerRow {
		display: flex;
		// margin-top: 2%;
	}
	.bannersLeft {
		width: 10%;
		flex-direction: column;
		margin-top: 1.5rem;
	}
	.bannerMain {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.bannertext {
		//styleName: Body/Bold;
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0em;
		text-align: left;
		padding-right: 24px;
		width: 100px;
		display: flex;
		align-items: center;
	}
	.bannerRight {
		border: 1px solid #404040;
		box-sizing: border-box;
		border-radius: 16px;
		width: 100%;
		padding: 20px 22px 20px 22px;
		margin: 2% 0%;
	}
	.bannerErrRight {
		border: 1px dashed red;
		box-sizing: border-box;
		border-radius: 16px;
		width: 100%;
		padding: 20px 22px 20px 22px;
		margin: 1% 0% 0% 0%;
		.errorMsg {
			text-transform: uppercase;
			font-weight: bold;
			color: red;
			margin-top: 1%;
		}
	}
	.bannerContentRight {
		display: flex;
	}
	.dragIcon {
		padding-top: 1.2rem;
	}
	.dragbale {
		width: 100%;
	}

	.bannerDropdownDiv {
		display: flex;
		justify-content: space-between;
		width: 52%;
		margin-left: 22px;
		> div {
			background-color: none !important;
			> div {
				color: #ffffff;
				font-family: Poppins;
				font-size: 12px;
				width: 100% !important;
				background-color: none !important;
			}
		}
		> div:focus-visible {
			outline: none !important;
		}
		> div:focus {
			outline: none !important;
		}
		.bannerLabel {
			//styleName: Body/Label;
			font-family: Poppins;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px;
			text-transform: uppercase;
			margin-top: 7px;
		}
		.bannerDropdown {
			border: 1px solid #404040;
			box-sizing: border-box;
			border-radius: 40px;
			display: flex;
			justify-content: space-between;
			width: 70%;
			height: 40px;
			position: relative;
			// .dropdownicon {
			// 	cursor: pointer;
			// 	//display: block;
			// 	position: absolute;
			// 	right: 4%;
			// 	top: 35%;
			// }
		}
	}

	.bannerAutocomplete {
		min-height: 1.4375em;
		margin-bottom: 0px;
		display: flex;
		justify-content: space-between;
		width: 47%;
		margin-left: 22px;
		> div {
			width: 70%;
			> div {
				> div {
					padding-left: 6px;
					padding-right: 6px;
					margin: 0px !important;
					> input {
						padding: 0px 4px 1px 0px !important;
					}
				}
			}
		}

		.bannerLabel {
			width: 30%;
			//styleName: Body/Label;
			font-family: Poppins;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px;
			text-transform: uppercase;
			margin-top: 7px;
		}
	}
	.BannertrashCan {
		padding-top: 0.8rem;
		padding-left: 20px;
		width: 3%;
	}
}

.buttonDiv {
	margin-top: 3rem;
	width: 100%;
	margin-bottom: 4rem;
}

// .autoComplete {
// 	padding: 8px;
// 	width: 96% !important;
// 	padding-left: 16px;
// 	color: white !important;
// 	border: 1px solid #404040;
// 	font-size: 1.4rem !important;
// 	line-height: 1.6 !important;
// 	border-radius: 5rem !important;
// 	margin-bottom: 1rem !important;
// 	.MuiInput-input {
// 		padding: 1rem 0rem 1rem 1rem;
// 		color: #ffffff !important;
// 	}

// 	.textFieldAuto {
// 		width: 100%;
// 		color: #ffffff !important;
// 		input {
// 			color: #ffffff !important;
// 			font-size: 14px;
// 		}
// 	}

// 	svg {
// 		color: $neon-yellow;
// 		right: 5rem;
// 		top: 0;
// 		font-size: 3rem;
// 	}
// }

.liAutocomplete {
	background-color: black;
	color: #f5ebeb;
	font-size: 14px;
	padding: 8px 8px 8px 12px;
	&:hover {
		color: $neon-yellow;
		cursor: pointer;
	}
}

.liAutocompleteWithButton {
	background-color: black;
	color: white;
	font-size: 14px;
	padding: 8px 8px 8px 12px;
	&:hover {
		color: $neon-yellow;
		cursor: pointer;
	}
}

.select {
	// .MuiSelect-select {
	// 	padding: 1rem 0rem 1rem 1rem;
	// 	padding-right: 32px;
	// }
	// width: 100%;
	// padding: 3px 0px;
	// padding-right: 10px;
	color: white !important;
	// border: 1px solid #404040;
	font-family: Poppins;
	font-size: 1.4rem !important;
	line-height: 1.6 !important;
	// border-radius: 5rem !important;
	// margin-bottom: 1rem !important;
	// background-color: #000000;

	div[role='button'] {
		padding: 0.5rem 0rem 0.5rem 2rem;
	}

	svg {
		display: block;
		color: $neon-yellow;
		right: 1rem !important;
		top: 0 !important;
		font-size: 3.5rem;
	}
}
