@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';
.textFieldInput {
	@include textFieldInput;
}
.Banner {
	width: 100%;
	height: auto;

	.bannerRow {
		display: flex;
		margin-top: 2%;
	}
	.bannersLeft {
		width: 10%;
		flex-direction: column;
		margin-top: 1.5rem;
	}
	.bannertext {
		//styleName: Body/Bold;
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		padding-right: 24px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.bannerRight {
		display: flex;
		border: 1px solid #404040;
		box-sizing: border-box;
		border-radius: 16px;
		width: 100%;
		padding: 20px 22px 20px 22px;
		margin-top: 2%;
	}
	.dragIcon {
		padding-top: 1.2rem;
	}
	.dragbale {
		width: 100%;
	}

	.bannerDropdownDiv {
		display: flex;
		justify-content: space-between;
		width: 50%;
		margin-left: 22px;
		> div {
			background-color: none !important;
			> div {
				color: #ffffff;
				font-family: Poppins;
				font-size: 12px;
				width: 100% !important;
				background-color: none !important;
			}
		}
		> div:focus-visible {
			outline: none !important;
		}
		> div:focus {
			outline: none !important;
		}
		.bannerLabel {
			//styleName: Body/Label;
			font-family: Poppins;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px;
			text-transform: uppercase;
			margin-top: 7px;
		}
		.bannerDropdown {
			border: 1px solid #404040;
			box-sizing: border-box;
			border-radius: 40px;
			display: flex;
			justify-content: space-between;
			width: 70%;
			height: 40px;
			position: relative;
			.dropdownicon {
				cursor: pointer;
				//display: block;
				position: absolute;
				right: 4%;
				top: 35%;
			}
		}
	}

	.bannerAutocomplete {
		min-height: 1.4375em;
		margin-bottom: 0px;
		display: flex;
		justify-content: space-between;
		width: 50%;
		margin-left: 22px;
		> div {
			width: 70%;
			> div {
				> div {
					padding-left: 6px;
					padding-right: 6px;
					margin: 0px !important;
					> input {
						padding: 0px 4px 4px 0px !important;
					}
				}
			}
		}

		.bannerLabel {
			width: 30%;
			//styleName: Body/Label;
			font-family: Poppins;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px;
			text-transform: uppercase;
			margin-top: 7px;
		}
		.liAutocomplete {
			background-color: black;
			color: white;
			font-size: 14px;
			padding: 8px 8px 8px 12px;
			&:hover {
				color: $neon-yellow;
				cursor: pointer;
			}
		}

		.liAutocompleteWithButton {
			background-color: black;
			color: white;
			font-size: 14px;
			padding: 8px 8px 8px 12px;
			&:hover {
				color: $neon-yellow;
				cursor: pointer;
			}
		}

		.popperAuto {
			border: 1px solid #404040;
			box-shadow: 0px 16px 40px rgba(255, 255, 255, 0.16);
			border-radius: 8px;
			background: black;
		}
	}
}

.buttonDiv {
	margin-top: 3rem;
	width: 100%;
	margin-bottom: 4rem;
}

// .autoComplete {
// 	padding: 8px;
// 	width: 96% !important;
// 	padding-left: 16px;
// 	color: white !important;
// 	border: 1px solid #404040;
// 	font-size: 1.4rem !important;
// 	line-height: 1.6 !important;
// 	border-radius: 5rem !important;
// 	margin-bottom: 1rem !important;
// 	.MuiInput-input {
// 		padding: 1rem 0rem 1rem 1rem;
// 		color: #ffffff !important;
// 	}

// 	.textFieldAuto {
// 		width: 100%;
// 		color: #ffffff !important;
// 		input {
// 			color: #ffffff !important;
// 			font-size: 14px;
// 		}
// 	}

// 	svg {
// 		color: $neon-yellow;
// 		right: 5rem;
// 		top: 0;
// 		font-size: 3rem;
// 	}
// }
