@import '../../styles/variables.scss';
@import '../../styles/_mixins.scss';

.tableContainer {
	margin: 1rem 0rem;
}

.header {
	display: flex;
	justify-content: space-between;
}

.subheader1 {
	display: flex;
	justify-content: flex-start;
}

.sortIcon {
	position: absolute;
	left: -4px;
	bottom: -2px;
	height: 2rem !important;
	width: 2rem !important;
}

.sortIconSelected {
	position: absolute;
	left: -4px;
	bottom: -2px;
	height: 2rem !important;
	width: 2rem !important;
	color: $neon-yellow;
}

.row {
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
}

.rowType {
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
	padding-left: 35px;
}

.active_closed_btn {
	padding-left: 30px;
	margin-bottom: 1.7rem;
	font-size: 1.2rem;
	width: 90px;
	height: 24px;
}

.editIcon {
	width: 2.5rem;
	height: auto;
	cursor: pointer;
}

.toolTip {
	background-color: $black-color !important;
	font-family: Poppins !important;
	font-size: 12px !important;
	line-height: 16px !important;
	border-radius: 8px !important;
	max-width: none !important;
}

.toolTipArrow {
	color: $black-color !important;
}
.paginationRow {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	nav {
		width: fit-content;
	}
	.gotoText {
		font-size: 12px;
		font-weight: 700;
		margin: 0px 10px;
	}
	.gotoInput {
		background: #000000;
		color: white;
		border-radius: 8px;
		padding: 6px;
		width: 50px;
		&:focus {
			outline: none;
		}
	}
}
